body {
    background-image: url("Images/Background Metro.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    cursor: url('Windows 7 Cursor/Metro/aero_arrow.cur'), auto;
}

a:hover {
    cursor: url('Windows 7 Cursor/Metro/aero_link.cur'), pointer;
}

a:active {
    cursor: url('Windows 7 Cursor/working.gif')grabbing;
}

header {
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold;
    font-size: 24px;
    justify-content: left;
    align-items: left;
    padding: 10px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;

}

.Vistabar {
    background: linear-gradient(to bottom, 
    #FFFFFF 0%, 
    #FFFFFF 55%,
    #FFFFFF 55%, 
    #FFFFFF 100%
    );
    width: 100%px;
    height: 50px;
}

.Words {
   margin-top: 10px;
   font-family: 'Segoe UI', sans-serif;
   text-align: center;
   overflow-y: auto;
   overflow-x: hidden;
   background: white;
}

.GlassArea {
/* From https://css.glass */
    width: 800px;
    max-height: 80hv;
    background: rgba(235, 245, 245, 0.17);
    border-radius: 16px;
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 15px;
    margin: 0 auto;
}

.buttons {
	text-align: left;
}

.buttons ul {
	text-align: left;
}

/* Unused?*/
.sidebar {
    width: 260px;
    background: linear-gradient(
                to right,
                rgba(235, 252, 251, 0.4),
                rgba(213, 227, 224, 0.1)
            );
    padding: 20px 0;
    box-shadow: inset -1px 0 3px rgba(0,0,0,0.1);
    backdrop-filter: blur(4.9px);


}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;
    font-size: 0;
    
}

.navbar img {
    display: block;
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    image-rendering: pixelated;
    margin-right: -1px;
    transition: opacity 0.2s ease-in-out;
}

.navbar-home {
    display: block;
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    image-rendering: pixelated;
    transition: opacity 0.2s ease-in-out;
}

.navbar-home:hover {
    content: url("Row tiles/Metro/Home Bar M (1).png");
    margin-right: -1px;
    opacity: 0.8;
    transition: rotateX(180deg);
}

.navbar-home:active {
    content: url("Row tiles/Metro/Home Bar M.png");
    margin-right: -1px;
}

.navbar-fresh {
    display: block;
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    image-rendering: pixelated;
    transition: opacity 0.2s ease-in-out;
}

.navbar-fresh:hover {
    content: url("Row tiles/Metro/Freshmen Year Bar M (1).png");
    margin-right: -1px;
    opacity: 0.8;
    transition: rotateX(180deg);
}

.navbar-fresh:active {
    content: url("Row tiles/Metro/Freshmen Year Bar M.png");
    margin-right: -1px;
}

.navbar-sopho {
    display: block;
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    image-rendering: pixelated;
    transition: opacity 0.2s ease-in-out;
}

.navbar-sopho:hover {
    content: url("Row tiles/Metro/Sophomore Year Bar M (1).png");
    margin-right: -1px;
    opacity: 0.8;
    transition: rotateX(180deg);
}

.navbar-sopho:active {
    content: url("Row tiles/Metro/Sophomore Year Bar M.png");
    margin-right: -1px;
}

.navbar-junior {
    display: block;
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    image-rendering: pixelated;
    transition: opacity 0.2s ease-in-out;
}

.navbar-junior:hover {
    content: url("Row tiles/Metro/Junior Year Bar M (1).png");
    margin-right: -1px;
    opacity: 0.8;
    transition: rotateX(180deg);
}

.navbar-junior:active {
    content: url("Row tiles/Metro/Junior Year Bar M.png");
    margin-right: -1px;
}

.navbar-extra {
    display: block;
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    image-rendering: pixelated;
    transition: opacity 0.2s ease-in-out;
}

.navbar-extra:hover {
    content: url("Row tiles/Metro/Extras Bar M (1).png");
    margin-right: -1px;
    transition: rotateX(180deg);
}

.navbar-extra:active {
    content: url("Row tiles/Metro/Extras Bar M.png");
    margin-right: -1px;
}

[role="progressbar"] div {
    width: 0%;
    animation: loadbuffer 30s steps(5, end) forwards;
}

@keyframes loadbuffer {
    0% {width: 0%;}
    10% {width: 5%:}

    20%  { width: 20%; }
    25%  { width: 20%; }

    33%  { width: 25%; }

    40%  { width: 35%; }

    50%  { width: 65%; }

    60%  { width: 66%; }

    65%  { width: 70%; }

    80%  { width: 75%; }

    85%  { width: 85%; }

    89%  { width: 92%; }

    99%  { width: 92%; }
    100% { width: 100%; }
}
